<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row" >
        <div th:if="${!events.isEmpty()}" th:each="event : ${events}" class="col s4">
            <a th:href="@{/events/{id}(id=${event.id})}">
                <div class="card waves-effect">
                    <div class="card-image" th:if="${!event.image.isEmpty()}">
                        <img class="event-image" th:src="${event.image}">
                    </div>
                    <div class="card-content">
                        <span class="card-title truncate" th:text="${event.title}"></span>
                    </div>
                </div>
            </a>
        </div>
        <h2 th:if="${events.isEmpty()}" class="center">Não há eventos</h2>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect" th:href="@{events/form}">
        <i class="large material-icons">add</i>
    </a>
</div>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>